a {
    color: black;
    text-decoration: none;
}

body {
	background-image: url("../images/wallpaper.png");
	background-position: top;
	background-attachment: fixed;
	background-size: cover;
}

table {
	margin: auto;
	width: 75vw;
	border-spacing: 5px;
}

td {
	border: 3px solid blue;
	padding: 20px;
	background-color: rgba(200,200,200,.9);
}

img {
	width: 500px;
	display: block;
	margin: auto;
	border-radius: 40px;
}

h1, h4 {
	text-align: center;
}

h1 {
	font-size: 45px;
}

#navTable {
    width: 96vw;
}

.nav {
    width: 32vw;
    border: none;
    background: inherit;
}

#navRight {
    border: none;
    border-radius: 40px;
    width: 185.859px;
    float: right;
    padding-left: 8px;
    background-color: rgba(165,165,165,.7);
}

#navRight:hover {
    background-color: rgba(210,210,210,.7);    
}

#navRight img {
    display: inline;
    width: 30px;
}

#navRight h2 {
    font-size: 30px;
}

#navHome {
    border: none;
    border-radius: 40px;
    width: 50px;
    margin: auto;
    padding: 8px;
    background-color: rgba(165,165,165,.7);
}

#navHome:hover {
    background-color: rgba(210,210,210,.7);    
}

#navHome img {
    width: 50px;
    border-radius: 0;
}

.tableHeader {

}

.class {
	color: blue;
}

.hspacer {
	border: 0;
	background-color: inherit;
}

.wspacer {
	border: 0;
	background-color: inherit;
}

.description {
	width: 50%;
}

#intro {
	border-radius: 40px;
}

#titleBlock {
	border-radius: 40px 40px 0 0;
}

#titleAir {
	border-radius: 40px 40px 0 0;
}

#exampleBlock {
	border-radius: 0 0 40px 40px;
}

#exampleAir {
	border-radius: 0 0 40px 40px;
}







