div#welcome {
			/*height: 350px;*/
			width: 100%;
			background-color: #4AB3FF;/*Blue*/
			text-align: center;
		}
			div#welcome h2 {
				font-size: 100px;
				margin-top: 115px;
				margin-bottom: 115px;
				display: inline-block;
				color: white;

				/*00ff44*/
			}