/*formatting for whole document*/

#everything {
	font-family: Times;
	text-align: center;
}
* {
	background-color: #66ccff;
}

/*end formatting for whole document*/

h1 {
	font-size: 75px;
	margin-top: 0;
	background-color: #FFDC39;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 20px;
}