iframe {
	display: block;
	margin: auto;
}

h2#title {
	text-align: center;
	margin-bottom: 10px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-weight: 600;
	margin-top: 5px;
	font-size: 22px;
}

@media only screen and (max-width: 960px) {
	iframe {
		width: 100vw;
		height: 59.270833333333333333333333333333vw;
	}
}